<h2>Hello. I'm Pierre</h2>
<p><img src="https://en.gravatar.com/userimage/22896488/19192e7c8f28f3430ab0eb62371c8020.png" alt="Pierre Jambet" title="Follow me on Twitter @pjambet"  class="img-rounded floatLeft" />
  I'm a novice developper, inclined to learn new cool things everyday.
<p>
  <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=pjambet&repo=pjambet.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;
  <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=pjambet&repo=pjambet.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
</p>
<p><a href="https://twitter.com/pierre_jambet" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @pierre_jambet</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/pjambet" rel="me" class="social github" title="Go to github.com/pjambet" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/profile/view?id=156041350" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/pierre_jambet" rel="me" class="social twitter" title="Go to twitter.com/pierre_jambet" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/u/0/115735889342774292629/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li>
	</ul>
</p>
